*{
    margin: 0;
    padding: 0;
     /* box-sizing: border-box; */
}

body{
    background-color:aquamarine;
    text-align: center;

}

h1{
    color: blue;
    font-size: 2.5rem;
    text-align: center;
}

.container{
    height:70vh;
    display: flex;
    justify-content: center;
     align-items: center;
     /* background-color: black; */

}

.game{
    height: 60vmin;
    width: 60vmin; 
       display: flex; 
        flex-wrap: wrap;
        justify-content: center;
         align-items: center;
        gap: 1.5vmin;
        background-color:aqua;

}


.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    
    color:red;
    background-color:lightskyblue;
box-shadow: 0 0  2rem rgba(0,0,0.3);
}

#reset-btn{
    padding: 1rem;
    font-size: 2rem;
    background-color:greenyellow;
    border: 2px solid goldenrod;
    border-radius: 8px;
    color:red;
}


#new-btn{
    padding: 1rem;
    font-size: 2rem;
    background-color:greenyellow;
    border: 2px solid goldenrod;
    border-radius: 8px;
    color:red;
}


#msg{
    color: rgb(193, 9, 249);
    font-size: 5rem;
    /* font-family: Poppine; */

}


.msg-container{
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}


.hide{
    display: none;
}